PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/nexus_classroom
JWT_SECRET=your_jwt_secret
LIVEKIT_API_KEY=your_livekit_api_key
LIVEKIT_API_SECRET=your_livekit_api_secret
LIVEKIT_URL=wss://your-livekit-url
SUPABASE_URL=https://ocdeimkmccxsvfzisqiq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jZGVpbWttY2N4c3ZmemlzcWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMjE5MDYsImV4cCI6MjA4ODg5NzkwNn0.ao9Wd8YaPhCyRf4MWMpHIZZ6oJnon7DTEd_SggReTdc
FRONTEND_URL=http://localhost:5173
